* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav,
nav * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

nav {
    justify-content: space-around;
    width: 100% ;
    height: 50px;
    color: white;
    font-size: 1.50em;
    background-color: black;
}

#nav-links {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    flex-direction: row;
}

main {
    width: 95%;
    height: 500px;
    margin: 15px auto;
    display: flex;
    justify-content: space-evenly;
}

.box {
    height: 120px;
    width: 120px;
    background-color: black;
    color: white;
    margin: 10px;
}

#card-1 {
    display: flex;
    justify-content: space-around;
}

#card-2 {
    display: flex;
    flex-direction: row-reverse;
}


a:hover {
    background-color: white;
    color: black;
}

h1 {
    background-color: green;
    width: 20%;
    height: 120%;
    color: white;
    margin: 15px;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

#left-panel {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
}

.card {
    border: solid black 2px
    ;
    max-height: 50%;
    padding: 15px;
    width: 75%;
}

ul {
    margin-left: 50px;
    margin-top: 15px;
}

#right-hand {
    width: 25%;
    background-color: white;
    margin-left: 10px;
}
#right-hand {
    display: flex;
    flex-direction: column;
    border: solid black;
}

p {
    text-align: justify;
    margin-top: 10px;
    margin-left: 10px;
}
